#santilogo {
  height: 60px;
  /* width: 300px; */
}

.py-5 img {
  height: 90px;
}

.row {
  justify-content: space-around;
  padding: 30px 0;
}

.iconcontainer {
  background-color: #4ed4fb;
  border-radius: 50%;
}

.serviceicon {
  padding: 20px;
  max-width: 100%;
  max-height: 100%;
  margin-top: -16px;
}

#aboutprofile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 775px) {
  #aboutprofile {
    flex-wrap: nowrap;
  }
}

#aboutprofile > span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#profpic {
  width: auto;
  height: auto;
  max-width: 405px;
  max-height: 610px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text video {
  margin-bottom: 50px;
  width: 60%;
  height: auto;
}

.case-description {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.case-description li {
  margin-left: 25px;
}

.case-description .double-indent {
  margin-left: 50px;
}
/*
#comlist {
  text-align: left;
} */

#quote-container {
  padding-left: 10px;
  border-left: 3px solid #3e6cb7;
  text-align: center;
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 100%;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}

blockquote cite:before {
content: "\2014 \2009";
}

.italic {
  font-style: italic;
}

.tajawal {
  font-family: 'Tajawal', sans-serif;
}
